<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lifetime Subscription</key>
	<string>com.sadiqul.MinimalDesk.Lifetime</string>
	<key>Yearly Subscription</key>
	<string>com.sadiqul.MinimalDesk.Yearly</string>
	<key>Monthly Subscription</key>
	<string>com.sadiqul.MinimalDesk.Monthly</string>
</dict>
</plist>
