<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>WorkSans-Regular.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>PlusJakartaSans-Light.ttf</string>
		<string>FiraSans-LightItalic.ttf</string>
		<string>FiraSans-ThinItalic.ttf</string>
		<string>FiraSans-Black.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-VariableFont_wdth,wght.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>OpenSans_Condensed-SemiBold.ttf</string>
		<string>FiraSans-MediumItalic.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>PlusJakartaSans-LightItalic.ttf</string>
		<string>OpenSans_SemiCondensed-MediumItalic.ttf</string>
		<string>PlusJakartaSans-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>FiraSans-ExtraBoldItalic.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
		<string>WorkSans-Italic-VariableFont_wght.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>WorkSans-VariableFont_wght.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>WorkSans-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans_Condensed-LightItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>PlusJakartaSans-Italic-VariableFont_wght.ttf</string>
		<string>Rubik-VariableFont_wght.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_Condensed-Medium.ttf</string>
		<string>FiraSans-ExtraBold.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>OpenSans-Italic-VariableFont_wdth,wght.ttf</string>
		<string>Inter-VariableFont_slnt,wght.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>WorkSans-Thin.ttf</string>
		<string>WorkSans-Black.ttf</string>
		<string>OpenSans_SemiCondensed-Medium.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>OpenSans_SemiCondensed-Light.ttf</string>
		<string>WorkSans-SemiBoldItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>WorkSans-ThinItalic.ttf</string>
		<string>FiraSans-BlackItalic.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBold.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>WorkSans-MediumItalic.ttf</string>
		<string>WorkSans-BoldItalic.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>OpenSans_Condensed-Bold.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Italic.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>FiraSans-ExtraLightItalic.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>OpenSans_Condensed-Italic.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>FiraSans-Thin.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>OpenSans_Condensed-BoldItalic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>OpenSans_SemiCondensed-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>OpenSans_SemiCondensed-BoldItalic.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>FiraSans-Italic.ttf</string>
		<string>OpenSans_Condensed-MediumItalic.ttf</string>
		<string>OpenSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>OpenSans_Condensed-Light.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>OpenSans_Condensed-ExtraBold.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>OpenSans_SemiCondensed-LightItalic.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>FiraSans-ExtraLight.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>PlusJakartaSans-BoldItalic.ttf</string>
		<string>WorkSans-BlackItalic.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>OpenSans_Condensed-SemiBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>OpenSans_Condensed-Regular.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>PlusJakartaSans-MediumItalic.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>WorkSans-ExtraBold.ttf</string>
		<string>WorkSans-ExtraLight.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>WorkSans-LightItalic.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Rubik-Italic-VariableFont_wght.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>WorkSans-ExtraLightItalic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>FiraSans-SemiBoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>PlusJakartaSans-Italic.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>WorkSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-VariableFont_wght.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBold.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
